<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dh.exam.mpt">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MPTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mpt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mpt_round"
        android:supportsRtl="true"
        android:theme="@style/ImmersiveTheme">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.BindPhoneActivity" />
        <activity
            android:name=".activity.UserImageActivity"
            android:label="@string/title_activity_user_img" />
        <activity android:name=".activity.UnbindChangePhoneActivity" />
        <activity android:name=".activity.CropResultActivity" />
        <activity
            android:name=".activity.NewQuestionActivity"
            android:label="@string/new_question" />
        <activity
            android:name=".activity.PaperInfoActivity"
            android:label="@string/paper_info" />
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/testing" />
        <activity
            android:name=".activity.TestResultActivity"
            android:label="@string/test_result" />
        <activity
            android:name=".activity.TestRecordActivity"
            android:label="@string/drawer_title_test_record" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/feedback" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".activity.Main2Activity"></activity>
    </application>

</manifest>